<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--cardano-cli - c# wrapper - config-->
    <add key="CLI_NETWORK" value="--mainnet" />
    <add key="CLI_PATH" value="cardano-cli" />
    <add key="CLI_WORKING_DIR" value="/home/dzcodes/capstone-work/" />
  </appSettings>
</configuration>